<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtpt.alidao.TBFlowredeveTotalMapper">
  <resultMap id="BaseResultMap" type="com.mtpt.alibean.TBFlowredeveTotal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pv" jdbcType="INTEGER" property="pv" />
    <result column="liji_bc" jdbcType="INTEGER" property="lijiBc" />
    <result column="comfir_bc" jdbcType="INTEGER" property="comfirBc" />
    <result column="tx_count" jdbcType="INTEGER" property="txCount" />
    <result column="pp_count" jdbcType="INTEGER" property="ppCount" />
    <result column="aqy_count" jdbcType="INTEGER" property="aqyCount" />
    <result column="yk_count" jdbcType="INTEGER" property="ykCount" />
    <result column="ordersuc_count" jdbcType="INTEGER" property="ordersucCount" />
    <result column="orderunsuc_count" jdbcType="INTEGER" property="orderunsucCount" />
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pv, liji_bc, comfir_bc, tx_count, pp_count, aqy_count, yk_count, ordersuc_count, 
    orderunsuc_count, addtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_flowredeve_total
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPublicPage" parameterType="com.mtpt.alibean.page.PublicPage" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from tb_flowredeve_total
  	ORDER BY addtime DESC
  	LIMIT #{start},#{limit}
  </select>
  
  <select id="selectAllDataCount" resultType="java.lang.Integer">
  	select count(1)
  	from tb_flowredeve_total
  </select>
  
  <select id="selectAllData" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from tb_flowredeve_total
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_flowredeve_total
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mtpt.alibean.TBFlowredeveTotal">
    insert into tb_flowredeve_total (id, pv, liji_bc, 
      comfir_bc, tx_count, pp_count, 
      aqy_count, yk_count, ordersuc_count, 
      orderunsuc_count, addtime)
    values (#{id,jdbcType=INTEGER}, #{pv,jdbcType=INTEGER}, #{lijiBc,jdbcType=INTEGER}, 
      #{comfirBc,jdbcType=INTEGER}, #{txCount,jdbcType=INTEGER}, #{ppCount,jdbcType=INTEGER}, 
      #{aqyCount,jdbcType=INTEGER}, #{ykCount,jdbcType=INTEGER}, #{ordersucCount,jdbcType=INTEGER}, 
      #{orderunsucCount,jdbcType=INTEGER}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mtpt.alibean.TBFlowredeveTotal">
    insert into tb_flowredeve_total
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pv != null">
        pv,
      </if>
      <if test="lijiBc != null">
        liji_bc,
      </if>
      <if test="comfirBc != null">
        comfir_bc,
      </if>
      <if test="txCount != null">
        tx_count,
      </if>
      <if test="ppCount != null">
        pp_count,
      </if>
      <if test="aqyCount != null">
        aqy_count,
      </if>
      <if test="ykCount != null">
        yk_count,
      </if>
      <if test="ordersucCount != null">
        ordersuc_count,
      </if>
      <if test="orderunsucCount != null">
        orderunsuc_count,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pv != null">
        #{pv,jdbcType=INTEGER},
      </if>
      <if test="lijiBc != null">
        #{lijiBc,jdbcType=INTEGER},
      </if>
      <if test="comfirBc != null">
        #{comfirBc,jdbcType=INTEGER},
      </if>
      <if test="txCount != null">
        #{txCount,jdbcType=INTEGER},
      </if>
      <if test="ppCount != null">
        #{ppCount,jdbcType=INTEGER},
      </if>
      <if test="aqyCount != null">
        #{aqyCount,jdbcType=INTEGER},
      </if>
      <if test="ykCount != null">
        #{ykCount,jdbcType=INTEGER},
      </if>
      <if test="ordersucCount != null">
        #{ordersucCount,jdbcType=INTEGER},
      </if>
      <if test="orderunsucCount != null">
        #{orderunsucCount,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mtpt.alibean.TBFlowredeveTotal">
    update tb_flowredeve_total
    <set>
      <if test="pv != null">
        pv = #{pv,jdbcType=INTEGER},
      </if>
      <if test="lijiBc != null">
        liji_bc = #{lijiBc,jdbcType=INTEGER},
      </if>
      <if test="comfirBc != null">
        comfir_bc = #{comfirBc,jdbcType=INTEGER},
      </if>
      <if test="txCount != null">
        tx_count = #{txCount,jdbcType=INTEGER},
      </if>
      <if test="ppCount != null">
        pp_count = #{ppCount,jdbcType=INTEGER},
      </if>
      <if test="aqyCount != null">
        aqy_count = #{aqyCount,jdbcType=INTEGER},
      </if>
      <if test="ykCount != null">
        yk_count = #{ykCount,jdbcType=INTEGER},
      </if>
      <if test="ordersucCount != null">
        ordersuc_count = #{ordersucCount,jdbcType=INTEGER},
      </if>
      <if test="orderunsucCount != null">
        orderunsuc_count = #{orderunsucCount,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mtpt.alibean.TBFlowredeveTotal">
    update tb_flowredeve_total
    set pv = #{pv,jdbcType=INTEGER},
      liji_bc = #{lijiBc,jdbcType=INTEGER},
      comfir_bc = #{comfirBc,jdbcType=INTEGER},
      tx_count = #{txCount,jdbcType=INTEGER},
      pp_count = #{ppCount,jdbcType=INTEGER},
      aqy_count = #{aqyCount,jdbcType=INTEGER},
      yk_count = #{ykCount,jdbcType=INTEGER},
      ordersuc_count = #{ordersucCount,jdbcType=INTEGER},
      orderunsuc_count = #{orderunsucCount,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>