<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtpt.alidao.TBOrderFlowgiftMapper">
  <resultMap id="BaseResultMap" type="com.mtpt.alibean.TBOrderFlowgift">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dn" jdbcType="VARCHAR" property="dn" />
    <result column="order_flowno" jdbcType="VARCHAR" property="orderFlowno" />
    <result column="prod_name" jdbcType="VARCHAR" property="prodName" />
    <result column="is_gift" jdbcType="INTEGER" property="isGift" />
    <result column="zs_addtime" jdbcType="TIMESTAMP" property="zsAddtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dn, order_flowno, prod_name, is_gift, zs_addtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order_flowgift
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_order_flowgift
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mtpt.alibean.TBOrderFlowgift">
    insert into tb_order_flowgift (id, dn, order_flowno, 
      prod_name, is_gift, zs_addtime
      )
    values (#{id,jdbcType=INTEGER}, #{dn,jdbcType=VARCHAR}, #{orderFlowno,jdbcType=VARCHAR}, 
      #{prodName,jdbcType=VARCHAR}, #{isGift,jdbcType=INTEGER}, #{zsAddtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mtpt.alibean.TBOrderFlowgift">
    insert into tb_order_flowgift
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dn != null">
        dn,
      </if>
      <if test="orderFlowno != null">
        order_flowno,
      </if>
      <if test="prodName != null">
        prod_name,
      </if>
      <if test="isGift != null">
        is_gift,
      </if>
      <if test="zsAddtime != null">
        zs_addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dn != null">
        #{dn,jdbcType=VARCHAR},
      </if>
      <if test="orderFlowno != null">
        #{orderFlowno,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null">
        #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="isGift != null">
        #{isGift,jdbcType=INTEGER},
      </if>
      <if test="zsAddtime != null">
        #{zsAddtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mtpt.alibean.TBOrderFlowgift">
    update tb_order_flowgift
    <set>
      <if test="dn != null">
        dn = #{dn,jdbcType=VARCHAR},
      </if>
      <if test="orderFlowno != null">
        order_flowno = #{orderFlowno,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null">
        prod_name = #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="isGift != null">
        is_gift = #{isGift,jdbcType=INTEGER},
      </if>
      <if test="zsAddtime != null">
        zs_addtime = #{zsAddtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mtpt.alibean.TBOrderFlowgift">
    update tb_order_flowgift
    set dn = #{dn,jdbcType=VARCHAR},
      order_flowno = #{orderFlowno,jdbcType=VARCHAR},
      prod_name = #{prodName,jdbcType=VARCHAR},
      is_gift = #{isGift,jdbcType=INTEGER},
      zs_addtime = #{zsAddtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>